<div>
    <div class="block-border block-inner margin-bottom-md">
        <div class="checkbox-group--block fine-prints">
        	<fine-print-item ng-model="x_$index" ng-repeat="fp in input"></fine-print-item>
        </div>
    </div>
    <!-- Fine print input area -->
    <div class="input-group search-input">
        <input type="text" class="form-control" placeholder="Add fine prints">
        <span class="input-group-btn">
			<button class="btn btn-default" type="button">
				Add
			</button>
		</span>
    </div>
    <button class="btn btn-text btn-header">Enter fine print</button>
</div>